@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,200);
body{
    background: white;
    transition: background 0.8s linear;
}

#contenido {
    width: 80%;
    margin: 0 auto;
    background: yellow;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.tem_lat{
    font-size: 1.5rem;
}

.dias{
    font-size: 1.8rem;
}

#ciudad {
    background: blue;
    width: 80%;
    float:left;
    color: white;
    font-size: 3em;
}

#temp_a{
    background: green;
    width: 20%;
    float: left;
    color: white;
    text-align: right;
    font-size: 3rem;
}

#descripcion{
    background: gray;
    margin: 0 auto;
    clear: both;
    text-align: center;
    font-size: 2.5rem;
}

#temp_mm {
    width: 25%;
    background: orange;
    float: left;
    font-size: 3rem;
}

#img_hoy{
    width: 50%;
    background: red;
    float: left
}

#dias_3{
    width: 25%;
    background: magenta;
    float: left;
    color: white;
}

#dia_1n{
    width: 100%;
}

#img_1{
    background: brown;
    width: 70%;
    float: left;
}

#temp_mm_1{
    width: 30%;
    background: lightsteelblue;
    float: left;
    text-align: right;
}

#dia_2n{
    width: 100%;
    float: left;
}

#img_2{
    background: limegreen;
    width: 70%;
    float: left;
}

#temp_mm_2{
    width: 30%;
    background: lightsteelblue;
    float: left;
    text-align: right;
}

#organizador1{
    clear: both
}

footer{
    background: blueviolet;
}